<div id="productModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white p-6 rounded-lg max-w-lg w-full relative">
    <button onclick="closeModal()" class="absolute top-2 right-2 text-gray-500">&times;</button>
    <div class="flex">
      <div class="product-image mb-4 relative">
        <img id="modal-product-image" class="w-auto h-auto" src="" alt="">
      </div>
      <div class="ml-6">
        <h2 id="modal-product-title" class="text-2xl font-bold"></h2>
        <p id="modal-product-price" class="text-gray-700 text-lg font-bold mt-2"></p>

        <!-- Дополнительные элементы (например, выбор цвета и модели) -->

        <button class="mt-6 w-full bg-[#CB8A3D] text-white py-2 rounded-lg font-bold">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
