<div class="w-full py-8 px-6">
    <div class="flex justify-between items-center py-8 px-12">
      <h1 class="text-4xl font-bold">Best Sellers</h1>
      <div>
        <a href="/collections/all" class="text-black-700 py-2 px-6 text-lg font-semibold border-2 border-black rounded-full">View All</a>
      </div>
    </div>
  
    {% section 'swiper-product' %}
  
  </div>
  